{% extends 'base.html' %}

{% block page_title %}
    Auto Tracker
{% endblock %}

{% block content %}
    <section id="contact">
        <p>
            🌟 Software Developer | Tech Explorer | Problem Solver 🌟
            Join me on a journey through code, creativity, and all things tech. Whether you're here for insights, inspiration, or a bit of fun, you're in the right place!
            ✉️ 📞📍
        </p>
        <p>
            <p>
                ✉️ Email: demos@example.com
                📞 Phone: +123-456-7890
                📍 Location: Anywhere Tech Inspires, but you can find me here!
            </p>
        </p>
    </section>

    <section id="social-links">
        <h2>Connect with Me</h2>
        <a href="https://github.com/BalmerDemos" target="_blank" class="social-icon">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" />
          GitHub
        </a>
        <a href="https://www.linkedin.com/in/balmer-valencia-988a42273/" target="_blank" class="social-icon">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" />
          LinkedIn
        </a>
      </section>

      <section id="about">
        <h2>What I Do</h2>
        <p>
          A Developer's Perspective on Code, Life, and Everything In Between
        </p>
        <p>
          I’m a passionate developer who enjoys programming, helping others, and exploring new technologies.
        </p>
        <p>
          Whether it's diving into challenging problems, sharing knowledge,
          or trying out the latest tools,
        </p>
        <p>
          I find joy in the journey of continuous learning.
        </p>
        <p>
          My goal is to keep on growing as a developer—and if I can help you do
          the same, I'd be very happy!
        </p>
      </section>

{% endblock %}